@import './_reset.scss';
@import './_variables.scss';

body {
    font-family: $font-family;
    color: #303030;
    font-size: 1rem;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
}

@each $heading, $size, $weight in $h-size {
    #{$heading} {
        font-size: $size;
        font-weight: $weight;
    }
}

#app {
  min-height: 100%;
}